body {
    background: black;
    font-family: "Oswald", sans-serif;
    font-style: italic;
  }
  
  .container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
  }
  @media(max-width: 740px){
    .container{
top: 45%;
left: 50%;
font-size: 43px;
height: 7em;
    }
  }
  
  .glitch, .glow {
    color: #dfbfbf;
    position: relative;
    font-size: 9vw;
    animation: glitch 5s 5s infinite;
  }
  
  .glitch::before, .glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  }
  
  .glitch::after, .glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }
  
  @keyframes glitch {
    1% {
      transform: rotateX(10deg) skewX(90deg);
    }
    2% {
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  @keyframes noise-1 {
    3.3333333333% {
      clip-path: inset(17px 0 60px 0);
    }
    6.6666666667% {
      clip-path: inset(23px 0 48px 0);
    }
    10% {
      clip-path: inset(14px 0 36px 0);
    }
    13.3333333333% {
      clip-path: inset(38px 0 2px 0);
    }
    16.6666666667% {
      clip-path: inset(77px 0 14px 0);
    }
    20% {
      clip-path: inset(76px 0 2px 0);
    }
    23.3333333333% {
      clip-path: inset(30px 0 51px 0);
    }
    26.6666666667% {
      clip-path: inset(71px 0 6px 0);
    }
    30% {
      clip-path: inset(82px 0 19px 0);
    }
    33.3333333333% {
      clip-path: inset(64px 0 17px 0);
    }
    36.6666666667% {
      clip-path: inset(14px 0 36px 0);
    }
    40% {
      clip-path: inset(56px 0 35px 0);
    }
    43.3333333333% {
      clip-path: inset(3px 0 50px 0);
    }
    46.6666666667% {
      clip-path: inset(66px 0 14px 0);
    }
    50% {
      clip-path: inset(58px 0 26px 0);
    }
    53.3333333333% {
      clip-path: inset(8px 0 39px 0);
    }
    56.6666666667% {
      clip-path: inset(24px 0 17px 0);
    }
    60% {
      clip-path: inset(34px 0 13px 0);
    }
    63.3333333333% {
      clip-path: inset(51px 0 21px 0);
    }
    66.6666666667% {
      clip-path: inset(80px 0 3px 0);
    }
    70% {
      clip-path: inset(50px 0 9px 0);
    }
    73.3333333333% {
      clip-path: inset(34px 0 30px 0);
    }
    76.6666666667% {
      clip-path: inset(6px 0 4px 0);
    }
    80% {
      clip-path: inset(70px 0 19px 0);
    }
    83.3333333333% {
      clip-path: inset(21px 0 2px 0);
    }
    86.6666666667% {
      clip-path: inset(98px 0 3px 0);
    }
    90% {
      clip-path: inset(98px 0 2px 0);
    }
    93.3333333333% {
      clip-path: inset(16px 0 61px 0);
    }
    96.6666666667% {
      clip-path: inset(34px 0 13px 0);
    }
    100% {
      clip-path: inset(67px 0 6px 0);
    }
  }
  @keyframes noise-2 {
    0% {
      clip-path: inset(31px 0 44px 0);
    }
    3.3333333333% {
      clip-path: inset(53px 0 3px 0);
    }
    6.6666666667% {
      clip-path: inset(11px 0 85px 0);
    }
    10% {
      clip-path: inset(55px 0 32px 0);
    }
    13.3333333333% {
      clip-path: inset(24px 0 8px 0);
    }
    16.6666666667% {
      clip-path: inset(73px 0 24px 0);
    }
    20% {
      clip-path: inset(81px 0 12px 0);
    }
    23.3333333333% {
      clip-path: inset(56px 0 27px 0);
    }
    26.6666666667% {
      clip-path: inset(39px 0 62px 0);
    }
    30% {
      clip-path: inset(71px 0 14px 0);
    }
    33.3333333333% {
      clip-path: inset(30px 0 63px 0);
    }
    36.6666666667% {
      clip-path: inset(10px 0 56px 0);
    }
    40% {
      clip-path: inset(63px 0 10px 0);
    }
    43.3333333333% {
      clip-path: inset(80px 0 8px 0);
    }
    46.6666666667% {
      clip-path: inset(44px 0 10px 0);
    }
    50% {
      clip-path: inset(89px 0 6px 0);
    }
    53.3333333333% {
      clip-path: inset(10px 0 45px 0);
    }
    56.6666666667% {
      clip-path: inset(67px 0 5px 0);
    }
    60% {
      clip-path: inset(65px 0 4px 0);
    }
    63.3333333333% {
      clip-path: inset(61px 0 9px 0);
    }
    66.6666666667% {
      clip-path: inset(97px 0 4px 0);
    }
    70% {
      clip-path: inset(14px 0 21px 0);
    }
    73.3333333333% {
      clip-path: inset(86px 0 13px 0);
    }
    76.6666666667% {
      clip-path: inset(39px 0 30px 0);
    }
    80% {
      clip-path: inset(16px 0 70px 0);
    }
    83.3333333333% {
      clip-path: inset(90px 0 6px 0);
    }
    86.6666666667% {
      clip-path: inset(75px 0 10px 0);
    }
    90% {
      clip-path: inset(44px 0 39px 0);
    }
    93.3333333333% {
      clip-path: inset(99px 0 1px 0);
    }
    96.6666666667% {
      clip-path: inset(14px 0 21px 0);
    }
    100% {
      clip-path: inset(83px 0 4px 0);
    }
  }
  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
  }
  
  .scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
    animation: fudge 7s ease-in-out alternate infinite;
  }
  
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 2%);
    }
  }
  .glow {
    text-shadow: 0 0 1000px #36ec36;
    color: transparent;
    position: absolute;
    top: 0;
  }
  
  .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: rgba(165, 141, 141, 0.4);
    text-transform: uppercase;
    text-align: center;
    width: 30em;
    margin-left: -12em;
    position: absolute;
    animation: glitch-2 5s 5.02s infinite;
  }
  
  @keyframes glitch-2 {
    1% {
      transform: rotateX(10deg) skewX(70deg);
    }
    2% {
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  @media(max-width: 740px){
    .glitch, .glow {
    font-size: 27vw;


  }

  .subtitle{
    font-size: 17px;
    width: 18em;
margin-left: -5em;
  }
}
/* 11 */
.btn-11 {
  border: none;
  color: black;
      background: #1ba94c;
    overflow: hidden;
    position: relative;
    font-size: 17px;
top: 29em;
left: 34em;
height: 4em;
width: 11em;
border-radius: 30px;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}



@media(max-width: 740px){
  .btn-11{
    font-size: 15px;
top: 26em;
left: 6em;
  }
}